*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-light-blue: #ecf2ff;
  --light-blue: #cac9ff;
  --blue: #1125d6;
  --dark-navy: #303b59;
  --light-red: #ffc9c9;
  --light-black: rgb(32, 27, 27);
  --very-light-black: rgb(84, 73, 73);
  --bg-gradient-great: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
  --gradient-great: linear-gradient(
    180deg,
    #75f 0%,
    #6943ff 0.01%,
    #2f2ce9 100%
  );
  --gradient-average: linear-gradient(
    180deg,
    rgb(93, 255, 85) 0%,
    #43ff59 0.01%,
    #2ce92c 100%
  );
  --bg-gradient-average: linear-gradient(
    180deg,
    #48c921 0%,
    rgba(75, 201, 33, 0) 100%,
    rgba(47, 201, 33, 0) 100%
  );
  --gradient-bad: linear-gradient(
    180deg,
    rgb(255, 195, 85) 0%,
    #ffd043 0.01%,
    #e9ad2c 100%
  );
  --bg-gradient-bad: linear-gradient(
    180deg,
    #c98621 0%,
    rgba(201, 103, 33, 0) 100%,
    rgba(201, 111, 33, 0) 100%
  );
  --gradient-terrible: linear-gradient(
    180deg,
    rgb(255, 85, 85) 0%,
    #ff4343 0.01%,
    #e92c2c 100%
  );
  --bg-gradient-terrible: linear-gradient(
    180deg,
    #c92121 0%,
    rgba(201, 33, 50, 0) 100%,
    rgba(201, 33, 33, 0) 100%
  );
  --duration: 0.33s;
}

body {
  background: var(--very-light-blue);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: grotesque;
    src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
    font-weight: 100 1000;
  }
}

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: grotesque;
    src: url("../assets/fonts/static/HankenGrotesk-Medium.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: grotesque;
    src: url("../assets/fonts/static/HankenGrotesk-Medium.ttf");
    font-weight: 700;
  }

  @font-face {
    font-family: grotesque;
    src: url("../assets/fonts/static/HankenGrotesk-Medium.ttf");
    font-weight: 800;
  }
}

.fs-h1,
.fs-h2,
.fs-h3,
.fs-body-1,
.fs-body-2 {
  font-family: grotesque;
}

.fs-h2,
.fs-h3,
.fs-body-2 {
  font-weight: 700;
}

.fs-body-1,
.fs-body-2 {
  font-size: 18px;
}

.fs-h1 {
  font-size: 72px;
  line-height: 72px;
  font-weight: 800;
}

.fs-h2 {
  font-size: 32px;
}

.fs-h3 {
  font-size: 24px;
}

.fs-body-1 {
  font-weight: 500;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
