.summary {
  background-color: transparent;
  width: 735px;
  height: 480px;
  border-radius: 32px;
  position: relative;
  transition: box-shadow calc(3 * var(--duration)),
    background-color calc(3 * var(--duration));

  &.visible {
    background-color: white;
    box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);

    .spinner {
      opacity: 0;
      animation-play-state: paused;
    }

    .result {
      animation: enter-from-left calc(3 * var(--duration)) forwards;

      @media screen and (max-width: 740px) {
        animation-name: enter-from-top;
      }
    }

    .scores {
      .fs-h3,
      .values .category,
      .link {
        animation: score-enter var(--duration) forwards;
      }

      .values {
        .category {
          animation-delay: calc(3 * var(--duration) + var(--index) * 100ms);
        }
      }

      .fs-h3,
      .link {
        animation-delay: calc(3 * var(--duration));
      }
    }
  }

  &.average,
  &.bad {
    .result {
      .fs-h3 {
        color: var(--very-light-black);
      }

      .fs-h2 {
        color: var(--light-black);
      }

      .fs-body-1 {
        color: var(--very-light-black);
      }

      .orb {
        .fs-h1 {
          color: var(--light-black);
        }

        .fs-body-2 {
          color: var(--light-black);
        }
      }
    }
  }

  &.great,
  &.terrible {
    .result {
      .fs-h2 {
        color: white;
      }

      .orb {
        .fs-h1 {
          color: white;
        }
      }
    }
  }

  &.great {
    .result {
      background: var(--gradient-great);

      .fs-h3 {
        color: var(--light-blue);
      }

      .fs-body-1 {
        color: var(--light-blue);
      }

      .orb {
        background: var(--bg-gradient-great);

        .fs-body-2 {
          color: var(--light-blue);
        }
      }
    }

    .scores {
      .link {
        --button-bg: var(--blue);
      }
    }
  }

  &.average {
    .result {
      background: var(--gradient-average);
      color: var(--light-black);

      .orb {
        background: var(--bg-gradient-average);
      }
    }

    .scores {
      .link {
        --button-bg: var(--green);
      }
    }
  }

  &.bad {
    .result {
      background: var(--gradient-bad);

      .orb {
        background: var(--bg-gradient-bad);
      }
    }

    .scores {
      .link {
        --button-bg: var(--orange);
      }
    }
  }

  &.terrible {
    .result {
      background: var(--gradient-terrible);

      .fs-h3 {
        color: var(--light-red);
      }

      .fs-body-1 {
        color: var(--light-red);
      }

      .orb {
        background: var(--bg-gradient-terrible);

        .fs-body-2 {
          color: var(--light-red);
        }
      }
    }

    .scores {
      .link {
        --button-bg: var(--red);
      }
    }
  }

  .spinner {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-areas: "stack";
    place-items: center;
    align-content: center;
    transition: transform 1s;
    outline: 1px solid var(--blue);
    animation: rotate calc(3 * var(--duration)) infinite;
    transition: opacity var(--duration);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    .circle {
      grid-area: stack;
      background: var(--blue);
      width: 20px;
      height: 20px;
      border-radius: 100%;

      &:first-child {
        transform: translate(0, -333%);
      }

      &:nth-child(2) {
        transform: rotate(120deg) translate(0, -333%);
      }

      &:last-child {
        transform: rotate(240deg) translate(0, -333%);
      }
    }
  }

  .result {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 370px;
    height: 100%;
    padding: 55px;
    padding-top: 38px;
    border-radius: 32px;

    .orb {
      border-radius: 100%;
      display: grid;
      place-items: center;
      align-content: center;
      gap: 5px;
      width: 200px;
      height: 200px;
      margin-top: 35px;

      .fs-body-2 {
        opacity: 0.5;
      }

      @media screen and (max-width: 740px) {
        margin-top: 24px;
        width: 140px;
        height: 140px;
      }
    }

    .fs-h2 {
      margin-top: 28px;
      text-transform: capitalize;

      @media screen and (max-width: 740px) {
        margin-top: 24px;
      }
    }

    .fs-body-1 {
      margin-top: 14px;

      @media screen and (max-width: 140px) {
        margin-top: 8px;
      }
    }

    @media screen and (max-width: 740px) {
      width: 100%;
      left: 0;
      transform: translate(0, -50%);
      height: fit-content;
      padding: 40px 57px;
      padding-top: 24px;
      border-radius: 0px 0px 32px 32px;
    }
  }

  .scores {
    height: 100%;
    position: absolute;
    right: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;

    .fs-h3,
    .values .category,
    .link {
      opacity: 0;
      transform: translate(-100%);
    }

    .fs-h3 {
      color: var(--dark-navy);
    }

    .values {
      margin-top: 28px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .category {
        width: 290px;
        padding: 16px;
        display: flex;
        justify-content: space-between;

        &.reaction {
          border-radius: 12px;
          background: linear-gradient(
              0deg,
              rgba(255, 255, 255, 0.95) 0%,
              rgba(255, 255, 255, 0.95) 100%
            ),
            #f55;

          .label {
            .fs-body-1 {
              color: #f55;
            }
          }
        }

        &.memory {
          border-radius: 12px;
          background: linear-gradient(
              0deg,
              rgba(255, 255, 255, 0.95) 0%,
              rgba(255, 255, 255, 0.95) 100%
            ),
            #ffb21e;

          .label {
            .fs-body-1 {
              color: #ffb21e;
            }
          }
        }

        &.verbal {
          border-radius: 12px;
          background: linear-gradient(
              0deg,
              rgba(255, 255, 255, 0.95) 0%,
              rgba(255, 255, 255, 0.95) 100%
            ),
            #00bb8f;

          .label {
            .fs-body-1 {
              color: #00bb8f;
            }
          }
        }

        &.visual {
          border-radius: 12px;
          background: linear-gradient(
              0deg,
              rgba(255, 255, 255, 0.95) 0%,
              rgba(255, 255, 255, 0.95) 100%
            ),
            #1125d6;

          .label {
            .fs-body-1 {
              color: #1125d6;
            }
          }
        }

        .label {
          display: flex;
          gap: 12px;
        }

        .points {
          .score,
          .of {
            color: var(--dark-navy);
          }

          .of {
            opacity: 0.5;
          }
        }

        @media screen and (max-width: 740px) {
          background-color: red;
          width: 315px;
          padding: 16px;
          padding-bottom: 18px;
        }
      }

      @media screen and (max-width: 740px) {
        margin-top: 24px;
      }
    }

    .link {
      --button-bg: red;
      background-color: var(--dark-navy);
      text-decoration: none;
      color: white;
      text-align: center;
      margin-top: 41px;
      border-radius: 130px;
      padding: 17px;
      transition: background-color var(--duration);

      @media (hover: hover) {
        &:hover {
          background-color: var(--button-bg);
        }
      }

      @media screen and (max-width: 740px) {
        margin-top: 24px;
        width: 315px;
      }
    }

    @media screen and (max-width: 740px) {
      left: 0;
      justify-content: end;
      align-items: center;
    }
  }

  @media screen and (max-width: 740px) {
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
